body {
  margin: 0;
  padding: 0;
  background-color: rgb(36, 32, 32);
  color: #fff;
}

form {
  width: 500px;
}

.app-comp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

button {
  width: 100%;
  padding: 7px;
  color: #352020;
  background-color: gold;
  border: none;
  border-radius: 5px;
}